@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";

    }

<h2>Upload</h2>
<br />
<script src="~/Scripts/angular.min.js"></script>

<script src="~/Scripts/RegistrationScript.js"></script>
<link href="~/ContentCSS/Upload.css" rel="stylesheet" />

<body>

    <div data-ng-app="myApp" data-ng-controller="uploadController" class="upload_container">

        <p>
            <input type="text" name="video.filepath" placeholder="Video Url" ng-model="video.filepath" />
        </p>
       
      
        Click to check youtubeurl<input type="checkbox" ng-disabled="!(video.filepath)" ng-model="myVar" value="Check" name="btnCheck" ng-click="check(video.filepath)" />
        <div ng-show="myVar">
            <div id="player"></div>
        </div>
        <p>
            <input type="text" name="video.title" placeholder="Video title " data-ng-model="video.title" />

        </p>

        <input type="text" name="video.price" placeholder="Video price " data-ng-model="video.price" /><br />
        <br />


        <textarea name="video.about" form="usrform" placeholder="About" data-ng-model="video.about"></textarea>
        <br />
        <input type="button" value="Save" class="registerbtn" name="btnSave" ng-click="savevideo(video)" />

    </div>
</body>

